@use 'ag-grid-community/styles' as ag;

@include ag.grid-styles(
    (
        themes: (
            alpine: (
                // font
                --ag-font-family: 'IRANSansEnNum',
                --ag-font-size: 0.7rem,
                // header
                --ag-header-height: 35px,
                --ag-header-background-color: #EBF0F5,
                --ag-header-column-separator-display: true,
                --ag-header-column-separator-color: #ffffff,
                // Main Colors
                --ag-foreground-color: #002952,
                --ag-alpine-active-color: #002952,
                --ag-header-foreground-color: #939CAD,// gray-500
                --ag-data-color: #2e3644,
                --ag-row-hover-color: #d2e3fa,
                --ag-odd-row-background-color: #F3F7FB,// gray-100
                // Borders
                --ag-borders: 0px solid,
                --ag-border-color: #babfc7,
                --ag-borders-secondary: 0px solid,
                --ag-cell-horizontal-border: solid #ffffff,
                --ag-borders-critical: 0px solid,
                // Rows
                --ag-row-height: 35px,
                --ag-borders-row: 0px solid,
                --ag-row-border-color: #c2d6eb,

                // Spacing
                --ag-grid-size: 3px,
                --ag-icon-size: 12px,
                --ag-list-item-height: 35px,
            ),
            alpine-dark: (
                // font
                --ag-font-family: 'IRANSansEnNum',
                --ag-font-size: 0.7rem,
                // header
                --ag-header-height: 35px,
                --ag-header-background-color: #2F333D,// D-gray-200
                --ag-header-column-separator-display: true,
                --ag-header-column-separator-color: #191E24,
                // Main Colors
                --ag-foreground-color: #a0b4e3,
                --ag-alpine-active-color: #a0b4e3,
                --ag-header-foreground-color: #eaecef,
                --ag-data-color: #eaecef,
                --ag-row-hover-color: #474d57,
                --ag-odd-row-background-color: #262F39, //D-gray-100
                // Borders
                --ag-borders: 0px solid,
                --ag-border-color: #546478,
                --ag-borders-secondary: 0px solid,
                --ag-cell-horizontal-border: solid #191E24,
                --ag-borders-critical: 0px solid,
                --ag-borders-row: 0px solid,
                // Rows
                --ag-row-height: 35px,

                // Spacing
                --ag-grid-size: 3px,
                --ag-icon-size: 12px,
            ),
                 balham: (
                // font
                --ag-font-family: 'IRANSansEnNum',
                --ag-font-size: 0.7rem,
                // header
                --ag-header-height: 35px,
                --ag-header-background-color: #ffffff,
                --ag-header-column-separator-display: true,
                --ag-header-column-separator-color: #C6D8E7,
                // Main Colors
                --ag-foreground-color: #002952,
                --ag-alpine-active-color: #002952,
                --ag-header-foreground-color: #939CAD,// gray-500
                --ag-data-color: #2e3644,
                --ag-row-hover-color: #d2e3fa,
                --ag-odd-row-background-color: #F3F7FB,// gray-100
                // Borders
                --ag-borders: 0px solid,
                --ag-border-color: #babfc7,
                --ag-borders-secondary: 0px solid,
                --ag-cell-horizontal-border: solid #ffffff,
                --ag-borders-critical: 0px solid,
                // Rows
                --ag-row-height: 35px,
                --ag-borders-row: 0px solid,
                --ag-row-border-color: #c2d6eb,

                // Spacing
                --ag-grid-size: 3px,
                --ag-icon-size: 12px,
                --ag-list-item-height: 35px,
            ),
            balham-dark: (
                // font
                --ag-font-family: 'IRANSansEnNum',
                --ag-font-size: 0.7rem,
                // header
                --ag-header-height: 35px,
                --ag-header-background-color: #181D1F,
                --ag-header-column-separator-display: true,
                --ag-header-column-separator-color: #546478,
                // Main Colors
                --ag-foreground-color: #a0b4e3,
                --ag-alpine-active-color: #a0b4e3,
                --ag-header-foreground-color: #eaecef,
                --ag-data-color: #eaecef,
                --ag-row-hover-color: #474d57,
                --ag-odd-row-background-color: #262F39,
                // Borders
                --ag-borders: 0px solid,
                --ag-border-color: #546478,
                --ag-borders-secondary: 0px solid,
                --ag-cell-horizontal-border: solid #191E24,
                --ag-borders-critical: 0px solid,
                --ag-borders-row: 0px solid,
                // Rows
                --ag-row-height: 35px,

                // Spacing
                --ag-grid-size: 3px,
                --ag-icon-size: 12px,
            ),
        ),
    )
);

.ag-root-wrapper {
    border-radius: 10px;
}

.ag-body-viewport.ag-layout-normal .ag-center-cols-viewport {
    overflow-x: hidden !important;
}

.ag-row .ag-cell .ag-cell-wrapper {
    text-align: center !important;
}
.ag-row .ag-cell.ag-cell-value {
    text-align: center !important;
}
.ag-header .ag-header-cell .ag-header-cell-label {
    justify-content: center !important;
}

.ag-header .ag-header-group-cell .ag-header-group-cell-label {
    justify-content: center !important;
}


.ag-cell-inline-editing {
	border: none !important;
	border-radius: unset !important;
	padding: 0 0.7rem !important;
	box-shadow: none !important;
	background-color: unset !important;

    input {
        text-align: center !important;
        border: 1px solid !important;
        border-color: theme('colors.L.info.100') !important;
    }
}

.ag-cell-inline-editing {
	padding: 0 !important;
}