@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .ltr {
      direction: ltr;
    }
}
// overwrite
.lc-text-xs {
    font-size: 11px !important;
}

.lc-text-sm {
    font-size: 11px !important;
}
