@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .ltr {
      direction: ltr;
    }
}

@layer components {
    .btn-primary {
		@apply text-L-basic dark:text-D-basic bg-L-primary-50 dark:bg-D-primary-50;
		@apply text-sm;
		transition:
			color 250ms,
			background-color 250ms,
			border-color 250ms;

		&:not(:disabled):hover {
			@apply bg-L-primary-50 dark:bg-D-primary-50;
		}

		&:not(:disabled):active {
			@apply bg-L-primary-50 dark:bg-D-primary-50 text-white dark:text-white;
		}

		&:disabled {
			@apply bg-L-gray-100 dark:bg-D-gray-100 text-L-gray-500 dark:text-D-gray-500;
			opacity: 1;
		}
	}
    .btn-primary-outline {
		@apply text-L-primary-50 dark:text-D-primary-50;
		@apply bg-transparent border border-current;
		@apply text-sm;
		transition:
			color 250ms,
			background-color 250ms,
			border-color 250ms;

		&:not(:disabled):hover {
			@apply bg-L-gray-50 dark:bg-D-gray-50;
		}

		&:not(:disabled):active {
			@apply bg-L-gray-400 dark:bg-D-primary-50 text-L-primary-100 dark:text-D-primary-100;
		}

		&:disabled {
			@apply text-L-gray-500 dark:text-D-gray-500 bg-transparent;
			opacity: 1;
		}
	}

	.btn-hover {
		.trigger {
			opacity: 0;
			pointer-events: none;
			transition: opacity 250ms;
			-webkit-transition: opacity 250ms;
			-moz-transition: opacity 250ms;
		}
	
		&:hover .trigger {
			opacity: 100;
			pointer-events: fill;
		}
	}

}


// overwrite
.lc-text-xs {
    font-size: 11px !important;
}

.lc-text-sm {
    font-size: 11px !important;
}
