@use 'src/common/components/LinearRangeChart/build.css';
@import './fonts';
@import './aggrid';
@import './_toastify';
@import './tailwind';
@import './dark-datepicker';

html {
  font-size: 12px;
}

@media only screen and (min-width: 1560px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 3440px) {
  html {
    font-size: 24px;
  }
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IRANSansEnNum', 'IRANSansFaNum', sans-serif !important;
    font-size: 14px;
    z-index: -50;
}

body #root {
    height: 100%;
    width: 100%;
}


.ltrInsert {
    direction: ltr;
  }
  .ltrInsert::placeholder {
    text-align: right;
    direction: rtl;
  }
  .ltrInsert:-moz-placeholder {
    text-align: right;
    direction: rtl;
  }
  .ltrInsert:-ms-input-placeholder {
    text-align: right;
    direction: rtl;
  }
  .ltrInsert::-webkit-input-placeholder {
    text-align: right;
    direction: rtl;
  }

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cccccc;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #808080;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color : #939CAD !important;
  -webkit-text-fill-color: #939CAD !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.transition-height {
  transition-property: height;
}

.editableModal .ag-header-cell .ag-checkbox-input-wrapper{
    left: -12px;
    position: relative;
}