
.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;/* 8px */
    grid-template-areas: 'symbol customers customers customers';

    &.toggle {
        grid-template-areas: 'customers customers customers symbol';
    }
}

.symbol-section {
    height: 100%;
    grid-column: span 1/ span 1;
    grid-template-rows: repeat(1, minmax(0, 1fr));

    grid-area: symbol;
}

.customers-section {
    grid-column: span 3 / span 3;
    grid-template-rows: repeat(1, minmax(0, 1fr));

    grid-area: customers;
}