.slider-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
  }
  
  .stock-container {
    display: flex;
    justify-content: flex-start;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 11 */
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      /* WebKit (Chrome, Safari, and newer Opera) */
       display: none;
    }   
  }