body {
  margin: 0;
}

#loading-wrapper {
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  position: absolute;
}
#loading-wrapper.hide {
  background: transparent;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.logo-montion {
  width: 100%;
  zoom: 0.7;
  margin-left: 6px;
  margin-bottom: 130px;
  padding: 8px;
}
.center-logo {
  fill: #245b8f00;
  stroke: #245b8f;
  stroke-width: 0;
  stroke-dasharray: 7000;
  stroke-dashoffset: 0;
  animation: dash 2.5s linear infinite;
}
.left-logo {
  fill: #46525a00;
  animation: fly 2.5s linear infinite;
}
.right-logo {
  fill: #46525a00;
  animation: fly 2.5s linear infinite;
}

@keyframes dash {
  0% {
    stroke-width: 20px;
    stroke-dashoffset: 7000;
  }
  15% {
    stroke-dashoffset: 0;
    fill: #245b8f00;
    stroke-width: 20px;
  }
  30% {
    fill: #245b8f;
    stroke-width: 0;
  }
  90% {
    fill: #245b8f;
  }
  100% {
    fill: #245b8f00;
  }
}

@keyframes fly {
  27% {
    transform: translate(80px, 1050px);
    fill: #46525a00;
  }
  32% {
    transform: translate(0, 0);
    fill: #46525a;
  }
  90% {
    fill: #46525a;
  }
  99% {
    fill: #46525a00;
    transform: translate(0, 0);
  }
  100% {
    transform: translate(80px, 1050px);
  }
}


/* chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-background-clip: text;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #000000 !important;
}