@keyframes spinner-border {
     to {
          transform: rotate(360deg);
     }
}

@-webkit-keyframes spinner-border {
     to {
          transform: rotate(360deg);
     }
}

@-moz-keyframes spinner-border {
     to {
          transform: rotate(360deg);
     }
}

@keyframes dash {
     0% {
          stroke-width: 20px;
          stroke-dashoffset: 7000;
     }

     15% {
          stroke-dashoffset: 0;
          fill: #245b8f00;
          stroke-width: 20px;
     }

     30% {
          fill: #245b8f;
          stroke-width: 0;
     }

     90% {
          fill: #245b8f;
     }

     100% {
          fill: #245b8f00;
     }
}

@keyframes fly {
     27% {
          transform: translate(80px, 1050px);
          fill: var(--color-logo-ramand);
     }

     32% {
          transform: translate(0, 0);
          fill: var(--color-logo-ramand);
     }

     90% {
          fill: var(--color-logo-ramand);
     }

     99% {
          fill: var(--color-logo-ramand);
          transform: translate(0, 0);
     }

     100% {
          transform: translate(80px, 1050px);
     }
}
