.spinner {
     position: relative;
     display: inline-block;
     width: 0.8rem;
     height: 0.8rem;
     vertical-align: middle;
     border: 2px solid rgb(var(--color-icon-primary));

     border-right-color: transparent;
     border-radius: 50%;
     animation: 750ms linear infinite spinner-border;
}

#loading-wrapper {
     width: 100%;
     height: 100vh;
     max-height: 100vh;
     overflow: hidden;
     z-index: 9000;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 1s ease;
     position: fixed;
     top: 0;
     left: 0;
}

#loading-wrapper.hide {
     background: transparent;
     opacity: 0;
     visibility: hidden;
     z-index: -1;
}

.logo-montion {
     width: 100%;
     zoom: 0.7;
     margin-left: 6px;
     margin-bottom: 130px;
     padding: 8px;
     z-index: 1;
}

.center-logo {
     fill: #245b8f00;
     stroke: #245b8f;
     stroke-width: 0;
     stroke-dasharray: 7000;
     stroke-dashoffset: 0;
     animation: dash 2.5s linear infinite;
}

.left-logo {
     fill: #eaeaea;
     animation: fly 2.5s linear infinite;
}

.right-logo {
     fill: #eaeaea;
     animation: fly 2.5s linear infinite;
}
