* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body {
     margin: 0;
     padding: 0;
     font-family: 'IRANSansX', sans-serif;
     overflow: hidden;
     background-color: rgb(var(--color-back-2));
}

button:focus {
     outline: none;
}

button:focus-visible {
     outline: none;
}

.rtl {
     direction: rtl;
}

.ltr {
     direction: ltr;
}

/* width */
::-webkit-scrollbar {
     width: 5px;
     height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
     border-radius: 10px;
     background: rgb(var(--color-scrollbar-track));
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: rgb(var(--color-scrollbar-thumb));
     border-radius: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}

input,
textarea,
button,
select,
a {
     -webkit-tap-highlight-color: transparent;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
     -webkit-background-clip: text;
     transition: background-color 5000s ease-in-out 0s;
     color: rgb(var(--color-content-title)) !important;
     -webkit-text-fill-color: #939cad !important;
     font-weight: 500 !important;
     font-size: 0.875rem;
}
.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-viewport,
.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-alpine .ag-layout-print .ag-center-cols-viewport,
.ag-theme-alpine .ag-layout-print .ag-center-cols-container,
.ag-theme-alpine-dark .ag-layout-auto-height .ag-center-cols-viewport,
.ag-theme-alpine-dark .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-alpine-dark .ag-layout-print .ag-center-cols-viewport,
.ag-theme-alpine-dark .ag-layout-print .ag-center-cols-container,
.ag-theme-alpine-auto-dark .ag-layout-auto-height .ag-center-cols-viewport,
.ag-theme-alpine-auto-dark .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-alpine-auto-dark .ag-layout-print .ag-center-cols-viewport,
.ag-theme-alpine-auto-dark .ag-layout-print .ag-center-cols-container {
     min-height: 130px !important;
}

/* Transparent scrollbar styling */
.transparent-scrollbar {
     scrollbar-width: thin; /* Makes scrollbar thinner in Firefox */
     scrollbar-color: transparent transparent; /* Transparent scrollbar in Firefox */
}

/* Webkit-based browsers */
.transparent-scrollbar::-webkit-scrollbar {
     height: 2px; /* Height of horizontal scrollbar */
     width: 8px; /* Width of vertical scrollbar */
}

.transparent-scrollbar::-webkit-scrollbar-track {
     background: transparent; /* Transparent track */
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
     background-color: transparent; /* Fully transparent scrollbar thumb */
}

.transparent-scrollbar:hover::-webkit-scrollbar-thumb {
     background-color: rgba(0, 0, 0, 0.2); /* Slightly visible on hover for user feedback */
}
