& {
	--color-content-title: var(--color-teal-99);
	--color-icon-default: var(--color-neu-60);
	--color-table-header: var(--color-neu-10);
	--color-table-row1: var(--color-main-baseblack);
	--color-table-row2: var(--color-neu-10);
	--color-line-div-1: var(--color-neu-50);
	--color-line-div-2: var(--color-neu-40);
	--color-line-div-3: var(--color-neu-20);
	--color-icon-disable: var(--color-neu-40);
	--color-content-paragraph: var(--color-neu-70);
	--color-line-success: var(--color-green-60);
	--color-content-deselecttab: var(--color-neu-50);
	--color-line-error: var(--color-red-60);
	--color-content-placeholder: var(--color-neu-60);
	--color-content-disable: var(--color-neu-40);
	--color-content-success-buy: var(--color-green-70);
	--color-line-warning: var(--color-yellow-60);
	--color-content-error-sell: var(--color-red-70);
	--color-input-defualt: var(--color-neu-80);
	--color-input-active: var(--color-neu-95);
	--color-input-disable: var(--color-neu-40);
	--color-input-focus: var(--color-blue-70);
	--color-input-success: var(--color-green-70);
	--color-input-error: var(--color-red-70);
	--color-input-primary: var(--color-teal-70);
	--color-back-surface: var(--color-neu-10);
	--color-back-1: var(--color-neu-20);
	--color-back-2: var(--color-neu-30);
	--color-back-primary-container: var(--color-teal-20);
	--color-back-success-container: var(--color-green-10);
	--color-back-error-container: var(--color-red-10);
	--color-button-primary-default: var(--color-teal-60);
	--color-button-primary-hover: var(--color-teal-50);
	--color-button-primary-pressing: var(--color-teal-70);
	--color-button-primary-selected: var(--color-teal-80);
	--color-button-success-default: var(--color-green-60);
	--color-button-success-hover: var(--color-green-50);
	--color-button-success-pressing: var(--color-green-70);
	--color-button-success-selected: var(--color-green-80);
	--color-button-error-default: var(--color-red-60);
	--color-button-error-hover: var(--color-red-50);
	--color-button-error-pressing: var(--color-red-70);
	--color-button-error-selected: var(--color-red-80);
	--color-button-warning-default: var(--color-yellow-60);
	--color-button-disable-disable: var(--color-neu-85);
	--color-button-tab-active: var(--color-teal-20);
	--color-button-info-default: var(--color-blue-40);
	--color-button-tab-deactive: var(--color-neu-20);
	--color-button-disable-hover: var(--color-neu-80);
	--color-button-warning-hover: var(--color-yellow-50);
	--color-button-warning-pressing: var(--color-yellow-70);
	--color-button-warning-selected: var(--color-yellow-80);
	--color-notif-primary: var(--color-teal-80);
	--color-notif-red: var(--color-red-70);
	--color-content-white: var(--color-neu-10);
	--color-content-black: var(--color-neu-99);
	--color-content-selected: var(--color-teal-70);
	--color-nav-back-default: var(--color-neu-20);
	--color-nav-back-pwa: var(--color-neu-10);
	--color-progressbar-primary: var(--color-teal-60);
	--color-progressbar-primary-line: var(--color-teal-20);
	--color-progressbar-warning: var(--color-yellow-60);
	--color-progressbar-warning-line: var(--color-yellow-20);
	--color-progressbar-error: var(--color-red-60);
	--color-progressbar-error-line: var(--color-red-20);
	--color-progressbar-success: var(--color-green-60);
	--color-progressbar-success-line: var(--color-green-20);
	--color-nav-opened: var(--color-neu-20);
	--color-nav-selected: var(--color-cobalt-60);
	--color-nav-default: var(--color-neu-60);
	--color-icon-white: var(--color-neu-10);
	--color-icon-success: var(--color-green-70);
	--color-icon-error: var(--color-red-70);
	--color-icon-warning: var(--color-yellow-70);
	--color-icon-primary: var(--color-teal-70);
	--color-tooltip-back: var(--color-neu-10);
	--color-tooltip-content: var(--color-neu-99);
	--color-content-info: var(--color-blue-70);
	--color-content-warnning: var(--color-yellow-70);
}