.root {
	.label {
		cursor: pointer;
		gap: 0.5rem;
		display: flex;
		align-items: center;

		.checkbox {
			cursor: pointer;
			width: 0.8rem;
			height: 0.8rem;
			border: 1px solid theme("colors.L.gray.400");
			border-radius: 2px;
			background-color: transparent;

			&.checked {
				position: relative;
				border-color: theme("colors.L.info.100");
				background-color: theme("colors.L.info.100");
				color: theme("colors.white");

				&::after {
					content: "";
					position: absolute;
					left: 18%;
					top: 44%;
					width: 38%;
					height: 72%;
					border: solid currentColor;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg) translate(-50%, -50%);
					-webkit-transform: rotate(45deg) translate(-50%, -50%);
					-ms-transform: rotate(45deg) translate(-50%, -50%);
				}
			}

			&:focus {
				border-color: theme("colors.L.blue.300");
			}
		}

		.text {
			white-space: nowrap;
			color: theme("colors.L.gray.700");
			font-size: 0.75rem;
			font-weight: 400;
		}

		&:focus-within .checkbox {
			border-color: theme("colors.L.blue.300");
		}
	}

	&.disabled {
		.checkbox {
			background-color: transparent;
			border: 1px solid theme("colors.L.gray.500");

			&.checked {
				border-color: theme("colors.L.gray.500");
				background-color: theme("colors.L.gray.500");
				color: theme("colors.white");
			}
		}

		.text {
			color: theme("colors.L.gray.500");
		}
	}
}

.root.dark {
	.checkbox {
		appearance: none;
		background-color: transparent;
		border: 1px solid theme("colors.D.gray.400");

		&.checked {
			color: theme("colors.black");
		}
	}

	.text {
		color: theme("colors.D.gray.700");
	}

	&.disabled {
		.checkbox {
			background-color: transparent;
			border: 1px solid theme("colors.D.gray.500");

			&.checked {
				border-color: theme("colors.D.gray.500");
				background-color: theme("colors.D.gray.500");
				color: theme("colors.D.gray.200");
			}
		}

		.text {
			color: theme("colors.D.gray.400");
		}
	}
}
