.root{
  --clock-background-color: theme("colors.L.basic.DEFAULT");
  --clock-border-color: theme("colors.L.gray.400");
  --clock-brand-color: theme("colors.L.gray.500");
  --clock-time-color: theme("colors.D.basic.DEFAULT");
  --input-border-color: theme("colors.L.info.100");

  height: auto;
  z-index: 1000;
  position: absolute;
  border: 1px solid;
  border-color: var(--clock-border-color);
  background-color: var( --clock-background-color);
  border-radius: 4px;
  padding: 16px;

  &.dark {
    --clock-background-color: theme("colors.D.basic.DEFAULT");
    --clock-border-color: theme("colors.D.gray.400");
    --clock-brand-color: theme("colors.L.gray.500");
    --clock-time-color: theme("colors.L.basic.DEFAULT");
    --input-border-color: theme("colors.L.info.100");
  }

}

.clock {
    width: 8rem;
    height: 8rem;
    position: relative;
    border: 3px solid var(--clock-border-color);
    box-shadow: -4px -4px 10px rgba(167,167,167,0.5),
                  inset 4px 4px 10px rgba(250,250,250,0.5),
                  inset -4px -4px 10px rgba(167,167,167,0.5),
                  4px 4px 10px rgba(250,250,250,0.3);
    border-radius: 50%;
    margin: auto;
}

.outerClockFace {
    position: relative;
    background: var(--clock-background-color);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  
  .outerClockFace::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
  }
  
  .outerClockFace::after,
  .outerClockFace::before,
  .outerClockFace .marking{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: theme('colors.L.info.100');
    z-index: 0;
    left: 49%;
  }


  .outerClockFace .marking {
    background: #bdbdcb;
  }
  
  .outerClockFace .marking.markingOne {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
  }
  
  .outerClockFace .marking.markingTwo {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
  }
  
  .outerClockFace .marking.markingThree {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
  }
  
  .outerClockFace .marking.markingFour {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
  }


  .innerClockFace {
    position: absolute;
    top: 7%;
    left: 7%;
    width: 85%;
    height: 85%;
    background-color: var(--clock-background-color);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
  }

  .brand {
    color: var(--clock-brand-color);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    position: absolute;
    left: 25%;
    top: 60%;
  }
  
  .innerClockFace::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 18px;
    margin-left: -6px;
    margin-top: -6px;
    background: #4d4b63;
    z-index: 11;
  }


  .hand {
    width: 50%;
    height: 6px;
    background: #61afff;
    position: absolute;
    right: 50%;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  
  .hand.hourHand {
    width: 30%;
    z-index: 3;
  }
  
  .hand.minHand {
    height: 3px;
    z-index: 10;
    width: 40%;
  }
  
  .hand.secondHand {
    background: theme('colors.L.warning.DEFAULT');
    width: 45%;
    height: 2px;
    z-index: 6;
  }



  .numberInput{
    color: var(--clock-time-color);
    -moz-appearance: textfield;
    width: 45px;
    line-height: 1.65;
    display: flex;
    justify-content: space-between;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    outline: 0;
    border: 1px solid;
    border-color: var(--clock-border-color);
    background-color: transparent;
    border-radius: 4px;

    &:focus{
      border-color: var(--input-border-color);
    }
  }
  

  .numberInput:not(:hover)::-webkit-inner-spin-button,
  .numberInput:not(:hover)::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
  }